*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
nav{
    background: #000;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 120px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 6px;
    text-align: center;
    width: 80PX;
}
nav ul li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
a:hover{
    color: yellow;
}
nav ul li a::after{
    content: '';  
    display: block;
    margin-top: -20px; 
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 0px;
    background-color: yellow;
   
}
nav ul li a:hover::after {
    width: 100%;
    transition: all 0.6s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;   
    }
    nav ul li a{
        font-size: 17px;
    }
}

@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 20vw;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .6s;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    
    nav ul li a::after{
        margin-top: 0px;
    }
    a:hover,a.active{
        background:none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.body{
    height: 100vh;
    width: 100vw;
    background: green;
}

   
